/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

.not-found-anchor > span {
  text-decoration: none;
  position: relative;
  z-index: 0;
}

.not-found-anchor:hover > span:before,
.not-found-anchor:focus > span:before {
  transform: skew(-1deg) rotate(-1deg);
  border-bottom: 13px solid #dacc14;
  left: -2px; right: 2px;
  position: absolute;
  bottom: 2px;
  content: "";
  z-index: -1;
}
